.custom-cursor {
  cursor: url('/image.png'), auto; /* Replace with the actual path to your cursor image */
}
* {
  user-select: none; /* Prevents text and element selection */
  -webkit-user-drag: none; /* Disables dragging for all elements */
  -moz-user-select: none; /* For Firefox */
  -ms-user-select: none; /* For older versions of IE */
  /* overflow: hidden; */
}

/* Add this in your global CSS */
body {
  cursor: none !important; /* Hide the default system cursor */
}

.slide-in {
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: black;
  transform-origin: bottom;
}


.slide-out {
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: black;
  transform-origin: top;
}